__pycache__/`n*.py[cod]`n*$py.class`n.venv/`nenv/`nvenv/`n`n.git`n.gitignore`n.gitattributes`n.idea/`.n.vscode/`n`n*.log`n*.sqlite3`n.coverage`nhtmlcov/`.n.coverage.*`n.pytest_cache/`.n.mypy_cache/`ncoverage.xml`n`nbuild/`ndist/`n*.egg-info/`n`n.env`n.env.*`n*.cfg`n*.ini`n*.toml`n*.yaml`n*.yml`n`n.DS_Store`nThumbs.db`nnode_modules/
