version: "3.8"

services:
  db:
    image: mysql:8.0
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: testdb
      MYSQL_USER: testuser
      MYSQL_PASSWORD: testpass
    volumes:
      - "D:/docker/mysql:/var/lib/mysql"
    networks:
      - pytosql

  app:
    build: .
    ports:
      - "8090:8090"
    depends_on:
      - db
    command: ["python", "app.py"]
    networks:
      - pytosql

networks:
  pytosql:
    external: true
